body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#eee;
  padding:0 10px;
  font-family:Arial;
  background-color:#23232D;
}
h1,h2,h3 {
  line-height:1.2;
}
.quote {
  border-left:3px solid #454554;
  padding-left:6px;
}
a {
  color:#d9d9d9;
  transition-duration:0s;
  padding:2px;
  text-decoration:none;
  width:100%;
  margin-top:2px;
  margin-bottom:2px;
}
a:hover {
  color:#fff;
  border-bottom:3px solid #454554;
  text-shadow:none;
}
.nbtn {
  padding:2px 10px;
  text-decoration:none;
  color:white;
  text-align:center;
  border:none;
  border-radius:0px;
  display:inline-block;
  transition-duration:0.1s;
  background-color:#2C2C36;
}
.nbtn:hover {
  border:none;
  padding:2px 10px;
  background-color:#454554;
}
.disabled {
  opacity:0.35;
  cursor:not-allowed;
}
.report-p {
  font-size:15px;
}
.report-a {
  text-decoration:underline;
}
.report-a:hover {
  text-shadow:none;
  border:none;
}
.tag {
  color:#d1d1d1;
  padding:2px;
  text-decoration:none;
  width:100%;
  margin-top:2px;
  margin-bottom:2px;
  background-color:#454554;
  border-radius:3px;
  border:none;
  margin-left:5px;
}
.tag:hover {
  color:#d1d1d1;
  border:none;
  padding:2px;
}
.tvbtn {
  width:49.5%;
  text-decoration:none;
  color:white;
  font-size:20px;
  text-align:left;
  padding:5px;
  border-radius:0px;
  display:inline-block;
  transition-duration:0.1s;
  border-radius:6px;
  border:none;
  background-color:transparent;
}
.tvbtn:hover {
  background-color:#2f2f2f;
}
.hidden {
  display:none;
}
.episodes {
  margin-top:3px;
  margin-bottom:3px;
}