body {
  margin:40px auto;
  max-width:650px;
  line-height:1.6;
  font-size:18px;
  color:#eee;
  padding:0 10px;
  font-family:Arial;
  background-color:#222;
}
h1,h2,h3 {
  line-height:1.2;
}
.quote {
  border-left:2px solid #d9d9d9;
  padding-left:6px;
}
a {
  color:#d9d9d9;
  transition-duration:0s;
  padding:3px;
  text-decoration:none;
}
a:hover {
  color:#fff;
  border-bottom:3px solid #fff;
  text-shadow:none;
}
.nbtn {
  padding:6px 20px;
  text-decoration:none;
  color:white;
  text-align:center;
  border:2px solid #d9d9d9;
  border-radius:0px;
  display:inline-block;
  transition-duration:0.1s;
}
.nbtn:hover {
  border:4px solid #fff;
  padding:4px 18px;
}
.disabled {
  opacity:0.5;
  cursor:not-allowed;
}
.report-p {
  font-size:15px;
}
.report-a {
  text-decoration:underline;
}
.report-a:hover {
  text-shadow:none;
  border:none;
}