body {
  margin:0;
  padding:0;
  font-family:Roboto, sans-serif;
  background-color:#0d0d0d;
}
.main-link-tab {
  width:100%;
  background-color:#1a1a1a;
  border-bottom:1px solid #737373;
}
.main-links a {
  color:#f2f2f2;
  font-family:Roboto, sans-serif;
  font-size:14px;
  transition-duration:0.2s;
  padding-left:3px;
  padding-right:3px;
  text-decoration:none;
}
.main-links a:hover {
  color:#dddddd;
}
.main-links a.link-space {
  opacity:0;
  padding-left:2px;
  padding-right:2px;
}
.box-left {
  border:1px solid #737373;
  border-radius:3px;
  width:78%;
  float:left;
  background-color:#1a1a1a;
  color:#f2f2f2;
}
.title-text {
  font-family:RobotoLight;
  text-align:center;
}
.blogpost-list hr {
  border:0.5px solid #737373;
}
.box-right {
  border:1px solid #737373;
  border-radius:3px;
  width:21%;
  float:right;
  background-color:#1a1a1a;
  color:#f2f2f2;
}
.selected-a {
  color:#fff;
  border-bottom:1px solid white;
}
#game {
  color:white;
  transition-duration:0.2s;
}
#game:hover {
  color:#ddd;
}
#adminneeded {
  display:none;
  border:1px solid #737373;
  padding:10px;
  border-radius:3px;
}
#adminneeded a {
  color:white;
}
.filter-btn {
  width:100%;
  padding:3px;
  font-family:Roboto, sans-serif;
  background-color:#333;
  color:white;
  border:none;
  border-radius:0px;
  box-shadow:none;
  transition-duration:0.2s;
  cursor:pointer;
  text-decoration:none;
  text-align:center;
}
.filter-btn:hover {
  background-color:#4d4d4d;
}
img.thumbnail {
  width:24.5%;
  transition-duration:0.2s;
}
img.thumbnail:hover {
  border-radius:10px;
  opacity:0.8;
}
